doctype html
html(lang="ru")
  block vars 


  include ../modules/_head.pug 


  body 
    include ../modules/_main-header.pug
    block content 
    include ../modules/_sticky-banner--bottom.pug
    include ../modules/_main-footer.pug
    script(src="./js/main.min.js")