header.main-header {
  // Positioning
  position: sticky;
  top: -1px; // compensating small gap-bug between top of the screen and header
  z-index: 999;

  // Box model
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: $defaultPadding;
  padding-block: 0.93rem;
  margin-bottom: 3rem;

  // Visual
  background-color: $seaShell;
}

.menu-btn {
  // Box model
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-btn__strip,
.menu-btn__strip::before,
.menu-btn__strip::after {
  // Box model
  width: 1.13rem;
  height: 0.13rem;
  border-radius: 0.06rem;
}

.menu-btn__strip {
  // Positioning
  position: relative;

  // Visual
  background-color: $kashmirBlue;
}

.menu-btn__strip::before {
  // Positioning
  position: absolute;
  bottom: 0.37rem;

  // Visual
  background-color: $brickRed;
  content: '';
}

.menu-btn__strip::after {
  // Positioning
  position: absolute;
  top: 0.37rem;

  // Visual
  background-color: $balticSea;
  content: '';
}

.main-header__logo a img {
  // Box model
  width: 5.68rem;
  height: 1.5rem;
}

.main-header__call-btn {
  // Positioning
  position: relative;

  // Box model
  display: block;
  border-radius: 50%;
  width: 1.87rem;
  height: 1.87rem;

  // Visual
  background-color: $kashmirBlue;
}

.main-header__call-btn::before {
  // Positioning
  position: absolute;
  transform: translate(39%, 39%);

  // Box model
  width: 1.06rem;
  height: 1.06rem;

  // Visual
  content: '';
  background-image: url('../images/main-header/icon-phone.svg');
  background-repeat: no-repeat;
  background-size: contain;
}