section.hero
  h1.hero__title.title Рабочий&nbsp;персонал<br>под&nbsp;любые&nbsp;задачи
  ul.hero__services
    li.hero__services-item Рабочие на производство и склады
    li.hero__services-item Услуги аутсорсинга
    li.hero__services-item Уборка и клининг
    li.hero__services-item Такелажные работы
    li.hero__services-item Комплексные переезды
  ul.hero__benefits
    li.hero__benefits-item Удобные<br>способы оплаты
    li.hero__benefits-item Персонал<br>в течение часа
    li.hero__benefits-item Отсрочка при<br>крупных заказах
    li.hero__benefits-item Выполняем<br>заказы 24/7
  a.hero__link(href="#") Смотреть цены