header.main-header
  .menu-btn
    .menu-btn__strip
  .main-header__logo 
    a(href="/"): img(src="./images/logo/logo.svg", alt="Logo of smart-staff company", width='91', height='24')
  .main-header__call-btn.call-btn