section.services
  hr.title-strip--blue
  h2.services__title Выполняем услуги<br>качественно
  ul.services__list
    li.services__item квартирный&nbsp;переезд
    li.services__item офисный&nbsp;переезд
    li.services__item уборка&nbsp;и&nbsp;клининг
    li.services__item такелаж
    li.services__item разнорабочие
    li.services__item транспорт
  a.services__btn.link--red(href="#") Смотреть цены